In [ ]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# SUBO TABLA DE LOS OSCARS (FASE 4)

In [ ]:
df_oscars = pd.read_csv("F4_OSCAR_all.csv") #aplico éste si la primera columna ya es el ID y no el orden /lo he borrado antes

In [ ]:
df_oscars.head(1)

In [ ]:
lista_tuplas_oscars = []
for x in df_oscars.values:

    lista_tuplas_oscars.append(tuple(x))
    lista_tuplas_oscars

In [ ]:
# En este código estamos haciendo un try except. Si recordamos esto nos permitía hacer un manejo de los errores, para evitar que nuestro código se pare. Para eso lo que estamos haciendo es
## intenta hacer la conexión son la base de datos de tienda 
try:
  cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='movies_database')
# en caso de que no lo consigas por que hay algún error entonces ...
except mysql.connector.Error as err:

  # si es un error con la contraseña devuelveme un mensaje de acceso denegado ya que tenemos problemas con la contraseña
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  
  # si el error no tiene que ver con la contraseña, puede ser porque la base de datos no exista, devuelveme un mensaje de que la base de datos no existe
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  
  # si no es por ninguno de los errores anteriores, printeame cual es el error que estoy teniendo en mi conexión
  else:
    print(err)
else:
  cnx.close()

In [ ]:
cnx = mysql.connector.connect (user = "root", 
                               password = "AlumnaAdalab", 
                               host='127.0.0.1',
                               database="movies_database")


mycursor = cnx.cursor()

sql_oscars = "INSERT INTO oscars (id_pelicula, mejor_pelicula, mejor_director, mejor_actor, mejor_actriz, ceremonia, anio_estreno, peliculas_id_pelicula) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
#variables en el mismo orden que scsv, tantas %s como variables tiene mi csv. 

try: 
    mycursor.executemany(sql_oscars, lista_tuplas_oscars)
    #ejecuta my query, de que datos? del fichero q estan en mi lista de tuplas q he converido ariba leyendo el csv.) 
    cnx.commit()
    print(mycursor.rowcount, "registros insertados")

except mysql.connector.Error as error:
    print("Error al insertar datos en MySQL:", error)

In [ ]:
len(set(lista_tuplas_oscars))

lista_tuplas_actores = = mi fichero de actores.  FASE 3 
hacemos un set(lista_tuplas_actores) para quitarlos

# SUBO TABLA DE PELICULAS (FASE 1)

In [ ]:
df_peliculas = pd.read_csv("F1_PELICULAS_all.csv") #aplico éste si la primera columna ya es el ID y no el orden /lo he borrado antes

In [ ]:
df_peliculas.drop_duplicates(subset="id_pelicula", inplace=True)

# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html

In [ ]:
df_peliculas.head(1)

In [ ]:
lista_tuplas_peliculas = []
for x in df_peliculas.values:

    lista_tuplas_peliculas.append(tuple(x))
    lista_tuplas_peliculas

In [ ]:
import mysql.connector
from mysql.connector import errorcode

In [ ]:
cnx = mysql.connector.connect(user='root', 
                              password='AlumnaAdalab',
                              host='localhost',
                              database='movies_database')

print(cnx)
cnx.close()

In [ ]:
try:
  cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='localhost',
                              database='movies_database')
# en caso de que no lo consigas por que hay algún error entonces ...
except mysql.connector.Error as err:

  # si es un error con la contraseña devuelveme un mensaje de acceso denegado ya que tenemos problemas con la contraseña
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  
  # si el error no tiene que ver con la contraseña, puede ser porque la base de datos no exista, devuelveme un mensaje de que la base de datos no existe
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  
  # si no es por ninguno de los errores anteriores, printeame cual es el error que estoy teniendo en mi conexión
  else:
    print(err)
else:
  cnx.close()

In [ ]:
cnx = mysql.connector.connect (user = "root", 
                               password = "AlumnaAdalab", 
                               host='localhost',
                               database="movies_database")


mycursor = cnx.cursor()


#sql_pelis = "INSERT INTO peliculas (id_pelicula, genero, tipo, anio_estreno, mes_estreno, titulo) VALUES (%s, %s, %s, %s, %s, %s)"
sql_pelis = "INSERT INTO peliculas (id_pelicula, genero, tipo, titulo, anio_estreno, mes_estreno) VALUES (%s, %s, %s, %s, %s, %s)"


#variables en el mismo orden que scsv, tantas %s como variables tiene mi csv. 

try: 
    #ejecuta el comando q te digo de SQL con la lista de tuplas. (tt347, "hola Caracola", "Movie",6, 2022, "Comedy")
    #mycursor.execute("INSTERT INTO peliculas", ("tt347", "hola Caracola", "Movie",6, 2022, "Comedy"))
    mycursor.executemany(sql_pelis, lista_tuplas_peliculas)
    #ejecuta my query, de que datos? del fichero q estan en mi lista de tuplas q he converido ariba leyendo el csv.) 
    cnx.commit()
    print(mycursor.rowcount, "registros insertados")

except mysql.connector.Error as error:
    print("Error al insertar datos en MySQL:", error)

# SUBO TABLA DE LOS IMDB (FASE 2)

In [ ]:
df_imdb = pd.read_csv("F2_IMDB_all.csv") #aplico éste si la primera columna ya es el ID y no el orden /lo he borrado antes

In [ ]:
df_imdb[df_imdb["duracion"].isna()]
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html

In [ ]:
lista_tuplas_imdb = []
for x in df_imdb_no_na.values:

    lista_tuplas_imdb.append(tuple(x))
    lista_tuplas_imdb

In [ ]:
print("INSERT INTO imdb VALUES")
for peli in lista_tuplas_imdb:
    print(peli, ",")

In [ ]:
cnx = mysql.connector.connect (user = "root", 
                               password = "AlumnaAdalab", 
                               host='localhost',
                               database="movies_database")


mycursor = cnx.cursor()

sql_imdb = "INSERT INTO imdb (puntuacion,direccion,guionistas,argumento,duracion,nombre_imdb,tomatometer,peliculas_id_pelicula) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
#variables en el mismo orden que scsv, tantas %s como variables tiene mi csv. 

try: 
    mycursor.executemany(sql_imdb, lista_tuplas_imdb)
    #ejecuta my query, de que datos? del fichero q estan en mi lista de tuplas q he converido ariba leyendo el csv.) 
    cnx.commit()
    print(mycursor.rowcount, "registros insertados")

except mysql.connector.Error as error:
    print("Error al insertar datos en MySQL:", error)

# Falta Fase 3